body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    font-family: "Poppins", sans-serif;
}

/* Estilize o contêiner principal */
.container {
    text-align: right;
    padding: 20px;
    border-radius: 10px 10px 80px 10px;
    background-color: #f5f5f5;
    width: 600px;
}

/* Estilize os campos de entrada, botão e texto do resultado */
input,
button,
#resultado {
    margin: 10px 0;
    padding: 5px;
}

.insercaoDados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 150px;
}

.dia,
.mes,
.ano {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.resultado {
    text-align: left;
    font-weight: bold;
    font-size: 70px;
    font-style: italic;
}

.resultado_novo{
    line-height: 5;
}



button{
    border-radius: 50%;
}

button:hover{
    color: blueviolet;
}

span{
    color: blueviolet;
}

input {
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 32px;
    border-radius: 7.5%;
}

.rodape {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.erro {
    color: red;
}